body {
    width: 300px;
    height: 400px;
}

footer {
    background-color: #CCC;

    font-size: .75rem;
    min-height: 1.25rem;
}

#status {
    min-height: 1.25rem;
}

#loader {
    height: .9rem;
    width: .9rem;
    margin: auto 3px;
}

.icon {
  width: 34px;
  text-align: center;
}
